/* css resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* visual helper class */
.scaffold {
    border: 0.5px red solid;
   
}

/* general styling rules */
body {
    background-color: #fff;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;  
}
a {
    text-decoration: underline;
    color: #000;
}

/* Section Heading Styling */
.title {
    text-transform: uppercase;
    color: #272832;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    margin: 40px;
    padding: 24px;
}
.sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 16px;
    padding: 8px;
    color: #272832;
}

/* button styling */
.button {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    padding: 50px 16px 16px 16px;

}
.btn {
    border-radius: 12px;
    padding: 16px 48px;
    color: #fff;
    text-decoration: none;
    border: none;
}
.btn-primary {
    background-color: #FF8364;
}
.btn-secondary {
    background-color: #272832;
}
/* button group styling */
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    padding-bottom: 48px;
}
.btn-group .btn {
    display: inline;
    width: 250px;
}

/* navigation bar styling rules */
header {
    background-color: #161616;
    padding: 10px 60px;
    display: flex;
}

/* logo styling */
.logo {
    height: 53px;
    width: 60px;
    padding: 10px auto;
    margin: 12px;
    vertical-align: middle;
}

/* navbar styling */
nav {
    padding-left: 50%;
    display: flex;
}
nav ul {
    padding: 24px;
    list-style: none;
}
nav ul li {
    text-decoration: none;
    color: 000;
    display: inline;
    padding: 4px 12px;
    margin: 0 12px;
    right: 48px;
    left: 0;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease all;
}

li > a:hover {
    /* background-color: #272832; */
    border-bottom: #FF8364 solid 2.5px;
    padding: 8px 16px;
}
/* avatar styling rules */
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: block;
    align-self: center;
    margin: 28px auto;    
}

.hero {
    margin: auto;
    min-height: 700px;
    padding-top: 60px;
    background-color: #3D3D3D;
    background-image: url(https://github.com/sage-godspeed/image-dump/blob/master/Hero.png?raw=trueKs);
    color: #fff;
}

.hero h1 {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    margin: 24px;
    padding: 16px;
}

.hero p {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 18px;
    text-align: justify;
    align-content: center;
    padding-bottom: 48px;
    margin: auto;
    margin-bottom: 48px;
    width: 85%;
}
.hero .btn .btn-primary {
    margin: 24px;
    margin-top: 48px;
}
.hero .btn > span {
    margin-left: 16px;
}

/* Experience & Education Section */

.Portfolio {
    margin: auto;
    padding: 32px;
}
.xp-content {
    
    align-items: center;
    justify-content: center;
}
.xp {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 18px;
    display: flex;
    padding: 12px 48px;
    margin: 48px auto;    
    width: 35%;
}

.xp .disc {
    display: block;
    width: 85%;
    margin-left: 8%;

}
.disc h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    word-spacing: normal;
    text-align: le;
    margin: 8px;
    margin-top: 12px;;
 
}
.disc h4 span {
    font-weight: 500;
    font-style: normal;
}
.disc p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: justify;
    margin: 2px 8px;
}
/* organization image */
.brand img {
    display: flex;
    width: 75px;
    height: 75px;
    border: 100%;
    vertical-align: middle;
}
/* education modal styling specifics */
.edu {
    background-color: #D9D9D9;
    width: 750px;
    padding: 1px;
    margin: 48px auto;
    border-radius: 4px;
}
#edu {
    width: 80%;
    height: 200px;
    padding-bottom: 48px;
}
#edu #uni {
    display: flex;
    margin-top: 16px;
    width: 85px;
    height: 75px;
}
#edu-sect > h2 {
    font-weight: 500;
    padding-bottom: 4px;
    margin-bottom: 0px;
}
#edu > h4 {
    font-weight: 500;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

#edu .disc > .degree {
    font-weight: 500;
    font-size: 14px;
}
.contact {
    background-color: #FDB87D;
    min-height: 600px;
}
/* contact me form styling */
.contact {
    margin: auto;
    padding: 32px;
}

form {
    width: 85%;
    margin: auto;
}

.mailer label{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    margin-top: 8px;
    padding: 24px 8px;
    margin-top: 24px;
    color: #525252;
}
.mailer input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 16px 8px;
    margin: 12px 0;
}

#compose {
    padding-bottom: 150px;
}
#send {
    padding-top: 12px;
}
#send-btn{
    width: 150px;
    padding: 8px;
}

.mailer select {
    padding: 8px;
    margin: 8px 0;
}
select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 1em 0 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}
.select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #000;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
select, .select:after {
  grid-area: select;
}
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: none;
    border-radius: inherit;
}
footer {
    height: 150px;
    background-color: #272832;
    display: flex;
    padding: 24px;
    
}
footer .top {
    display: inline;
    color: #fff;
    margin: 24px;
    padding-left: 80%;
}